##################################################
# The global gitignore file for OS specific
# files and paths
# author: Andreas G.
# last edit / by: 2021-10-30 / Andreas G.
##################################################

# Windows
# File shares recycle bin 
$RECYCLE.BIN/

# Thumbnail cache
ehthumbs.db
ehthumbs_vista.db
Thumbs.db
Thumbs.db:encryptable


# Config for folder
[Dd]esktop.ini

# Dump
*.stackdump

# Windows installers
*.msi
*.msm
*.msix
*.cab
*.msp

# Shortcuts
*.lnk

# MacOS
# General
.AppleDouble
.LSOverride
.DS_Store

# Thumbnails
._*

# Icon
Icon

# Remote share directories
.apdisk
Network Trash Folder
Temporary Items
.AppleDB
.AppleDesktop

# Files appear in the root of volume
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.fseventsd
.Spotlight-V100
.Trashes
.TemporaryItems
.DocumentRevisions-V100

# Linux
*~

# Temporary files deleted files with open handles
.fuse_hidden*

# Directory preferences in KDE
.directory

# Trash folder
.Trash-*

# .nfs files
.nfs*